<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/styles.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
    />
    <link href="/css/index.css" rel="stylesheet" />

    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <title>Schwartz :: Main</title>
  </head>
  <body>
    <%- include('./common/header.ejs')%>
    <main class="wrap">
      <!-- Slider main container -->
      <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <img src="/images/main_slider/main_slider_1.jpg" />
          </div>
          <div class="swiper-slide">
            <img src="/images/main_slider/main_slider_2.jpg" />
          </div>
          <div class="swiper-slide">
            <img src="/images/main_slider/main_slider_3.jpg" />
          </div>
          ...
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div>
      </div>
    </main>
    <section class="wrap">
      <div class="last__news__wrap">
        <div>News that lasts</div>
        <div>
          <h3>About</h3>
          <div class="last__news__content">
            <span>
              Schwartz Media publishes intelligent news and current affairs that
              breaks the 24-hour news cycle. We offer a nuanced examination of
              Australia and the world, focused on fresh insight and literary
              expression. Our audience reads to know, not just to agree. We
              invest in long-form journalism where the issues demand it,
              providing writing of a quality that makes difficult topics clear.
              Schwartz Media publishes Australia’s most respected writers across
              The Saturday Paper, The Monthly magazine and the daily podcast
              7am, alongside our sister publications, Quarterly Essay and
              Australian Foreign Affairs.
            </span>
          </div>
          <div class="last__news__go">
            <span>→</span>
            <span><a>View our Companies</a></span>
          </div>
        </div>
      </div>
    </section>
    <div class="wrap">
      <div class="journalism__wrap">
        <div class="journalism__wrap__text">
          <div>
            <span class="title">Journalism</span>
            <span class="content"
              >Our journalists create in-depth, independent, original public
              interest reporting, focusing on storytelling and insight.</span
            >
            <div class="more__btn">
              <span> Learn more </span>
            </div>
          </div>
        </div>
        <div class="journalism__wrap__image">
          <img src="/images/photo_1.jpg" />
        </div>
        <div class="journalism__wrap__image">
          <img src="/images/photo_2.jpg" />
        </div>
        <div class="journalism__wrap__text">
          <div>
            <span class="title">The Monthly</span>
            <span class="content">
              The Monthly publishes long-form journalism from the nation's
              leading writers and thinkers, covering Australian politics,
              culture and ideas.
            </span>
            <div class="more__btn">
              <span><a>Learn more</a></span>
              <span><a>Advertise</a></span>
            </div>
          </div>
        </div>
        <div class="journalism__wrap__text">
          <div>
            <span class="title">The Saturday Paper</span>
            <span class="content"
              >The Saturday Paper is a weekly newspaper, dedicated to telling
              the whole story. It publishes long-form accounts of the week’s key
              stories.</span
            >
            <div class="more__btn">
              <span><a>Learn more</a></span>
              <span><a>Advertise</a></span>
            </div>
          </div>
        </div>
        <div>
          <img src="/images/photo_3.jpg" />
        </div>

        <div>
          <img src="/images/photo_4.jpg" />
        </div>
        <div class="journalism__wrap__text">
          <div>
            <span class="title">7am</span>
            <span class="content"
              >7am is a daily news podcast that tells the big stories through
              in-depth interviews and sharp analysis.</span
            >
            <div class="more__btn">
              <span><a>Learn more</a></span>
              <span><a>Advertise</a></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="wrap">
      <div class="flex-list">
        <div class="flex-list__box">
          <h2>Shop</h2>
          <div class="flex-list__thumb">
            <img src="/images/photo_8.jpg" />
          </div>
          <p>
            In collaboration with Alpha60, The Saturday Paper and The Monthly
            bring you a tote bag.
          </p>
          <span class="more__btn">Shop now</span>
        </div>
        <div class="flex-list__box">
          <h2>Give a Gift</h2>
          <div class="flex-list__thumb">
            <img src="/images/photo_7.jpg" />
          </div>
          <p>Give The Saturday Paper or The Monthly as a gift.</p>
          <span class="more__btn">Gift</span>
        </div>
      </div>
    </div>
    <div class="wrap">
      <div class="advertise__wrap">
        <h2>Advertise</h2>
        <p>Get in touch with our advertising team</p>
        <span class="more__btn">Learn more</span>
      </div>
    </div>
    <div class="wrap">
      <div class="flex-list">
        <div class="flex-list__box">
          <h2>Shop</h2>
          <div class="flex-list__thumb">
            <img src="/images/photo_8.jpg" />
          </div>
          <p>
            In collaboration with Alpha60, The Saturday Paper and The Monthly
            bring you a tote bag.
          </p>
          <span class="more__btn">Shop now</span>
        </div>
        <div class="flex-list__box">
          <h2>Give a Gift</h2>
          <div class="flex-list__thumb">
            <img src="/images/photo_7.jpg" />
          </div>
          <p>Give The Saturday Paper or The Monthly as a gift.</p>
          <span class="more__btn">Gift</span>
        </div>
      </div>
    </div>
    <div class="wrap">
      <div class="etc__wrap">
        <div>
          <h2>Careers</h2>
          <p>Work at the country’s leading independent publisher.</p>
          <span>Learn more</span>
        </div>
        <div>
          <h2>News</h2>
          <p>Keep in touch with what is happening at Schwartz Media.</p>
          <span>Learn more</span>
        </div>
        <div>
          <h2>Contact</h2>
          <p>Get in touch with our editorial and advertising teams.</p>
          <span>Learn more</span>
        </div>
      </div>
    </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
  <script src="/js/header.js"></script>
  <script src="/js/index.js"></script>
</html>
