.last__news__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.last__news__wrap > div:first-child {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 120px;
}

.last__news__wrap > div:nth-child(2) h3 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.last__news__wrap .last__news__content {
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 1px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: 20px;
}

.last__news__wrap .last__news__go {
  height: 30px;
  line-height: 30px;
  font-weight: bold;
  font-size: 20px;
}

.journalism__wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.journalism__wrap > div {
  height: 400px;
}

.journalism__wrap .journalism__wrap__text > div {
  display: flex;
  flex-direction: column;
  height: 85%;
  justify-content: space-between;
  margin-left: 20px;
  margin-top: 20px;
}

.journalism__wrap .journalism__wrap__text > div .title {
  font-size: 24px;
  font-weight: bold;
}

.journalism__wrap .journalism__wrap__text > div .content {
  font-size: 28px;
  line-height: 35px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.journalism__wrap .journalism__wrap__text div .more__btn span {
  margin: 0px 10px;
  border: 1px solid #414141;
  padding: 5px 10px;
  border-radius: 20px;
}

.journalism__wrap .journalism__wrap__text div .more__btn span:hover {
  background-color: #414141;
  color: white;
  cursor: pointer;
}

.advertise__wrap {
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: space-between;
}

.advertise__wrap h2 {
  font-size: 24px;
  font-weight: bold;
}

.advertise__wrap p {
  font-size: 32px;
}

.advertise__wrap .more__btn {
  width: 100px;
  border: 1px solid #414141;
  padding: 5px 10px;
  border-radius: 20px;
  text-align: center;
}

.advertise__wrap .more__btn:hover {
  cursor: pointer;
  background-color: #414141;
  color: white;
}

.flex-list {
  display: flex;
  justify-content: space-between;
  height: 500px;
}

.flex-list .flex-list__box {
  width: 50%;
  height: 100%;
  margin-right: 10px;
}

.flex-list .flex-list__box h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.flex-list .flex-list__box .flex-list__thumb {
  height: 300px;
  margin-bottom: 20px;
}

.flex-list .flex-list__box p {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 30px;
}

.flex-list .flex-list__box .more__btn {
  display: block;
  width: 100px;
  border: 1px solid #414141;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
}

.flex-list .flex-list__box .more__btn:hover {
  cursor: pointer;
  background-color: #414141;
  color: white;
}

.etc__wrap {
  display: flex;
  justify-content: space-between;
}
.etc__wrap > div {
  width: 33%;
}
.etc__wrap > div h2 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.etc__wrap > div p {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 20px;
}
