@import "common/reset.css";
@import "common/header.css";
@import "common/footer.css";

.wrap {
  margin-top: 100px;
  width: 1000px;
  margin-left: 50%;
  transform: translateX(-50%);
}

.hidden {
  display: none;
}

.swiper {
  width: 900px;
  height: 600px;
}

img {
  width: 100%;
  height: 100%;
}
