<footer>
  <div class="footer__wrap">
    <div class="footer__box first">
      <div>
        <h2>Schwartz</h2>
      </div>
      <div>
        <p>Terms & Conditions Privacy Policy</p>
        <p>This page made for study.</p>
      </div>
    </div>
    <div class="footer__box">
      <span><a>Schwartz Media</a></span>
    </div>
    <div class="footer__box">
      <span><a>Schwartz Books</a></span>
    </div>
  </div>
</footer>