<header class="header">
  <div class="header__wrap">
    <div class="header__left">
      <div class="hambug_btn">
        <i></i>
        <i></i>
        <i></i>
      </div>
      <div class="logo">
        <span><a href="/">Schwartz</a></span>
      </div>
    </div>
    <div class="header__right">
      <div>
        <span>Media</span>
      </div>
    </div>
  </div>
</header>
<div class="toggle-menu__wrap hidden">
  <button class="toggle_close">X</button>
  <div class="toggle__menu">
    <div class="toggle__menu__logo">
      <span><a href="/">Schwartz Media</a></span>
    </div>
    <div class="toggle__menu__content">
      <nav>
        <ul>
          <li><a>Journalism</a></li>
          <li><a>Advertising</a></li>
          <li><a>News</a></li>
          <li><a>Shop</a></li>
          <li><a>Careers</a></li>
          <li><a>Contact</a></li>
        </ul>
      </nav>
      <div class="toggle__menu__info">
        <div>
          <a class="toggle__login">
            <span>Subscriber Login</span>
            <span>0</span>
          </a>
          <a>
            <span>Terms & Conditions</span>
            <span>Privacy Policy</span>
          </a>
          <div>
            <span>@2023 Schwartz Publishing</span>
            <span>All rights reserved</span>
          </div>
        </div>

        <div class="toggel__menu__bottom__logo">
          <span>Schwart</span>
        </div>
      </div>
    </div>
  </div>
  <!--toggle__menu-->
</div>
<!--toggle-menu__wrap-->
